@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background-color: white;
	font-family: 'Public Sans', sans-serif;
    width: 100%;
}

p {
	color: black;
}

h1 {
    font-size: 36px;
    color: #A5B452;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-text {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
}

nav {
    display: flex;
	background-color: #9BA7C0;
	padding: 20px;
	width: 100%;
	justify-content: space-around;
    align-content: center;
    list-style: none;
    font-weight: bolder;
    font-size: 20px;
}

.home, .about, .cont {
	color: black;
}

.home:hover, .about:hover, .cont:hover {
	color: #C8D96F;
}

.hero {
	text-align: center;
	padding: 10px;
}

.div-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 20px;
    width: 100%
}

.ccsd, .rec {
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: #9BA7C0;
	color: #420039;
    padding: 15px;
    
}

.ccsd1, .rec1 {
	color: black;
}

.ccsd1:hover, .rec1:hover {
	color: #C8D96F;
}

.credit {
    color: black;
}

a {
	text-decoration: none;
}

.coming-soon {
	text-align: center;
    display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 10px;
}

.rec-text {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.button {
	background-color: #A5B452;
	border: none;
	color: black;
    font-weight: bolder;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
    justify-content: center;
    align-content: center;
}

.spread {
	color: black;
    font-weight: bolder;
	background-color: #C8D96F;
	padding: 10px;
}

.spread:hover {
	color: #932F6D;
}

.ccsd-img, .rec-img {
    display: flex;
    max-width: 200px;
    justify-content: center;
    align-content: center;
}

.star {
    color: black;
}

.star:hover {
    color: #C8D96F;
}
@media only screen and (max-width: 600px) {
    
.div-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
	color: #420039;
}
}